{% extends "layout.html" %}
{% block content %}

<h1 style="text-align:center;letter-spacing:5px;color:#80B093;font-size:40"><em>Bûches & Entremets</em></h1>
    <div style="display:grid;grid-template-columns: 33% 33% 33%;grid-template-rows: 50 % 50%">
        <span id="categorie" class="zoom">
            <a href=# title="buche chocolat praline" style="text-decoration:none!important"><h2>Chocolat & praliné</h2>
                <img class="patisserie_cat" src='/static/photos/buche_chocolat_praline.jpg'></a></span>
        <span id="categorie" class="zoom">
            <a href=# title="buche framboise pistache" style="text-decoration:none!important"><h2>Framboise & pistache</h2>
                <img class="patisserie_cat" src='/static/photos/buche_framboise_pistache.jpg'></a></span>
        <span id="categorie" class="zoom">
            <a href=# title="buche vanille praline" style="text-decoration:none!important"><h2>Vanille & praliné</h2>
                <img class="patisserie_cat" src='/static/photos/buche_vanille_praline.jpg'></a></span>
        <span id="categorie" class="zoom">
            <a href=# title="entremet 3 chocolat" style="text-decoration:none!important"><h2>Entremet aux 3 chocolats</h2>
                <img class="patisserie_cat" src='/static/photos/entremet_trois_chocolats.jpg'></a></span>
        <span id="categorie" class="zoom">
            <a href=# title="assortiment de buchette" style="text-decoration:none!important"><h2>Bûchettes fraise & praliné</h2>
                <img class="patisserie_cat" src='/static/photos/assortiments_buches.jpg'></a>   </span>
  <!--      <span id="categorie">
            <a href=# title="number tarte" style="text-decoration:none!important"><h2>Number tarte aux fruits rouges</h2>
                <img class="patisserie_cat" src='/static/photos/number_tarte_fruits_rouges.jpg'></a>   </span>
        <span id="categorie">
            <a href=# title="tarte aux fraises" style="text-decoration:none!important"><h2>Tarte aux fraises</h2>
                <img class="patisserie_cat" src='/static/photos/tarte_aux_fraises.jpg'></a>   </span>-->
       </div>
<div style="text-align:center;margin-top:150px;min-height:500px">
Site en construction | Je vous dis à très vite pour découvrir mes succulentes recettes les choufettes !</br>Coeur sur vous
</div>
{% endblock %}