{% extends "layout.html" %}
{% block content %}

<h1 style="text-align:center;letter-spacing:5px;color:#80B093;font-size:40"><em>Gâteaux & Tartes</em></h1>
    <div style="display:grid;grid-template-columns: 33% 33% 33%;grid-template-rows: 33% 33% 33%">
        <span id="categorie" class="zoom">
            <a href=# title="gâteau praliné" style="text-decoration:none!important"><h2>Gâteau praliné</h2>
                <img class="patisserie_cat" src='/static/photos/gateau_praline.jpg'></a></span>
        <span id="categorie" class="zoom">
            <a href=# title="flan patissier" style="text-decoration:none!important"><h2>Flan patissier à la vanille</h2>
                <img class="patisserie_cat" src='/static/photos/flan_patissier.jpg'></a></span>
        <span id="categorie" class="zoom">
            <a href=# title="fraisiser" style="text-decoration:none!important"><h2>Fraisier</h2>
                <img class="patisserie_cat" src='/static/photos/fraisier.jpg'></a></span>
        <span id="categorie" class="zoom">
            <a href=# title="galette" style="text-decoration:none!important"><h2>Galettes des rois à la frangipane</h2>
                <img class="patisserie_cat" src='/static/photos/galette_des_rois.jpg'></a></span>
        <span id="categorie" class="zoom">
            <a href=# title="milles feuilles" style="text-decoration:none!important"><h2>Mille-feuilles</h2>
                <img class="patisserie_cat" src='/static/photos/mille_feuilles.jpg'></a>   </span>
        <span id="categorie" class="zoom">
            <a href=# title="number tarte" style="text-decoration:none!important"><h2>Number tarte aux fruits rouges</h2>
                <img class="patisserie_cat" src='/static/photos/number_tarte_fruits_rouges.jpg'></a>   </span>
        <span id="categorie" class="zoom">
            <a href=# title="tarte aux fraises" style="text-decoration:none!important"><h2>Tarte aux fraises</h2>
                <img class="patisserie_cat" src='/static/photos/tarte_aux_fraises.jpg'></a>   </span>
       </div>
<div style="text-align:center;margin-top:150px;min-height:500px">
Site en construction | Je vous dis à très vite pour découvrir mes succulentes recettes les choufettes !</br>Coeur sur vous
</div>
{% endblock %}